.bump0{
	clear:both;
	text-align:center;
}
.bump0 img{
	width: 100%;
	heigh: 100%;
	border-radius: 5px 5px 5px 5px;	
}
.bump1{
	clear:both;
	padding;
	text-align:center	
}
.bump1 img{
	width: 100%;
	heigh: 100%;
	border-radius: 5px 5px 5px 5px;	
}
.bump2{
	clear:both;
	padding;
	text-align:center;	
}
.bump2 img{
	width: 100%;
	heigh: 100%;
	border-radius: 5px 5px 5px 5px;	
}
.bump_racing{
	clear:both;
	text-align:center;		
}
.bump_racing img{
	width: 100%;
	heigh: 100%;
	border-radius: 4px 4px 0px 0px;	
}
.bump_adventure{
	clear:both;
	text-align:center;		
}
.bump_adventure img{
	width: 100%;
	heigh: 100%;
	border-radius: 4px 4px 0px 0px;	
}
.bump_shooter{
	clear:both;
	text-align:center;		
}
.bump_shooter img{
	width: 100%;
	heigh: 100%;
	border-radius: 4px 4px 0px 0px;	
}
.bump_rpg{
	clear:both;
	text-align:center;		
}
.bump_rpg img{
	width: 100%;
	heigh: 100%;
	border-radius: 4px 4px 0px 0px;	
}